worker_processes ${WORKER_PROCESSES};

events {
  worker_connections ${WORKER_CONNECTIONS};
}

http {
  server {
    listen ${NGINX_PORT};

    server_name localhost;

    location /ws {
      proxy_set_header X-Forwarded-For $$PROXY_ADD_X_FW;
      proxy_set_header Host $$PROXY_HOST;

      proxy_pass http://ws-backend; 

      proxy_http_version 1.1; 
      proxy_set_header Upgrade $$HTTP_UPGRADE;
      proxy_set_header Connection "upgrade";
    }
  }

  upstream ws-backend {
    ip_hash;

    server ws1:8080;
  }
}